.Rproj.user
.Rhistory
.RData
.Ruserdata
local-backup
raw_data
predictive-text.Rproj
load_data.nb.html
load_data.pdf
exploratory_data_analysis.html
exploratory_data_analysis.nb.html
exploratory_data_analysis.pdf
exploratory_data_analysis_cache
exploratory_data_analysis_files
draft_ideas.Rmd
draft_ideas.html
draft_ideas.pdf
exploratory_data_analysis2.nb.html
exploratory_data_analysis2.pdf
exploratory_data_analysis2_cache
prepare_training_data.nb.html
Data_preparation_quanteda.nb.html
split_data.nb.html
clean_data/
evaluation.nb.html
predict.RDS
train.data.RDS
predict_word.RDS
evaluation.pdf
training_data_10.RDS
coursera_test_2.html
coursera_test_2.nb.html
