.Rproj.user
.Rhistory
.RData
.Ruserdata
local-backup
raw_data
predictive-text.Rproj
load_data.nb.html
load_data.pdf
exploratory_data_analysis.html
exploratory_data_analysis.nb.html
exploratory_data_analysis.pdf
exploratory_data_analysis_cache
exploratory_data_analysis_files
